# Intro to Basic Pattern

In [ ]:
n = int(input("Please enter a value  "))
for c in range(1,n+1):
  print(c, end = "")

Please enter a value  3
123

### Rectangle/Square

In [ ]:
row = 2 #there are 5 rows
col = 4 #there are 3 columns

#r = 2
#c = 5
for r in range(1,row+1):      #The outer loop controls the row
     for c in range(1,col+1): #The inner loop controls the column
         print("*",end="")    #The * is printed on the same line

     print()   #Outside inner loop & inside outer loop. Adds a space after a row

****
****

In [ ]:
row = 2 #there are 5 rows
col = 4 #there are 3 columns


for r in range(1,row+1):      #The outer loop controls the row
     for c in range(1,col+1): #The inner loop controls the column
         print(c,end="")    #The * is printed on the same line

     print()   #Outside inner loop & inside outer loop. Adds a space after a row

1234
1234

### Left Triangle

In [ ]:
n = 5 #there are 3 rows



for r in range(1,n+1):      #The outer loop controls the row
     for c in range(1,r+1): #The inner loop controls the column
         print("*",end="")    #The * is printed on the same line

     print()   #Outside inner loop & inside outer loop. Adds a space after a row

*
**
***
****
*****

# Inner Whitespace for basic pattern

In [ ]:
row = 4 #there are 5 rows
col = 5 #there are 3 columns


for r in range(1,row+1):      #The outer loop controls the row
     for c in range(1,col+1): #The inner loop controls the column
         if r==1 or r==row or c==1 or c==col:
             print("*",end="")    #The * is printed on the same line
         else:
             print(" ",end="")

     print()   #Outside inner loop & inside outer loop. Adds a space after a row

*****
*   *
*   *
*****

In [ ]:
row = 5 #there are 5 rows



for r in range(1,row+1):      #The outer loop controls the row
     for c in range(1,r+1): #The inner loop controls the column
       if r==1 or r==row or c==1 or c==r:
            print("*",end="")    #The * is printed on the same line
       else:
            print(" ",end="")    #The * is printed on the same line

     print()   #Outside inner loop & inside outer loop. Adds a space after a row

*
**
* *
*  *
*****

In [ ]:
row = 4 #there are 5 rows

#r = 4
#k = 1
for r in range(1,row+1):      #The outer loop controls the row
     for k in range(1,row-r+1):
       print(" ",end="")
     for c in range(1,r+1):
          print("*",end="")    #The * is printed on the same line

     print()

   *
  **
 ***
****

In [ ]:
row = 4 #there are 5 rows



for r in range(1,row+1):      #The outer loop controls the row
     for c in range(1,2*r): #The inner loop controls the column
         print(c,end="")    #The * is printed on the same line

     print()

1
123
12345
1234567

In [ ]:
row = 3 #there are 4 rows



for r in range(1,row+1):
     for k in range(1,row-r+1):
       print(" ",end="")     #The outer loop controls the row
     for c in range(1,2*r): #The inner loop controls the column
         print(c,end="")    #The * is printed on the same line

     print()

  1
 123
12345

### Extra

In [ ]:

for i in range(1,3):
    for j in range(1,4):
       print(f"{i},{j}")

1,1
1,2
1,3
2,1
2,2
2,3