# **Python - OOP Concepts**

[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_oops_concepts.htm)

### **(BASED ON [SAD] sir NOTES)**

Object-oriented programming (OOP) is a way of thinking about and organizing code for maximum reusability.

**There are four features of object-oriented programming to know:**
1. Encapsulation
2. Inheritance
3. Polymorphism
4. Abstraction

We will learn them one by one as we go throguh the semester.

**Why do we need to learn OOP?**

1. Modularity for easier troubleshooting
2. Reuse of code through inheritance
3. Security while sharing code
4. Increases readability
5. Scalability
6. Real world problem design

Popular languages that follow OOP are: Java, C++, C#, Python

Some good reads are:
1. https://www.roberthalf.com/blog/salaries-and-skills/4-advantages-of-object-oriented-programming
2. https://www.quora.com/Why-we-need-OOPs-in-Programming-language

# **Python - Object and Classes**

[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_object_classes.htm)

In [ ]:
#Design
class Student:
    def __init__(self): #Constructor
        self.name = "XYZ"
        self.ID = 12345
        self.dept = "CSE"
        self.cg = 3.99
        print(self)


#Driver code
s1 = Student() #Object creation and initialization
print("1-----------------------------------------------------")
print(s1)#Hexadecimal address where the object is created will be printed.
print("2-----------------------------------------------------")
print(s1.name,s1.ID,s1.dept,s1.cg)#Before changing
s1.name  = "Sakib Al Hasan"
s1.ID = 9867
print("3-----------------------------------------------------")
print(s1.name,s1.ID,s1.dept,s1.cg)#After changing name and ID.

s2 = Student()#Object creation and initialization
print("4-----------------------------------------------------")
print(s2.name,s2.ID,s2.dept,s2.cg)

#The object referred by s2 is diffrenet from the object referred by s1.
#So changing the variables of the object referred to by s2 will have
#no effect on s1 and vise versa.
s2.name = "Tamim Iqbal"
s2.ID = 45678
print("5-----------------------------------------------------")
print(s2.name,s2.ID,s2.dept,s2.cg)
#changing the name and ID of the object referred by s2 has no effect on
#the variables of the object referred by s1.
print(s1.name,s1.ID,s1.dept,s1.cg)

#If we create another object whose location will be referred by s1,
#the reference to the previous object referred to by s1 will be lost.
#The previous object referred to by s1 will be removed from memory.
#Now s1 will refer to the newly created object.
#Please uncomment the lines for testing
s1 = Student()
print("6-----------------------------------------------------")
print(s1.name,s1.ID,s1.dept,s1.cg)

#if we write s1 = s2 then s1 and s2 both will refer to the same object.
#the reference to the previous object referred to by s1 will be lost.
#The previous object referred to by s1 will be removed from memory.
#Please uncomment the lines for testing
s1 = s2
print("7-----------------------------------------------------")
print(s1.name,s1.ID,s1.dept,s1.cg)
print(s2.name,s2.ID,s2.dept,s2.cg)
print("8-----------------------------------------------------")
s1.name = "Imrul Kayes"
print("9-----------------------------------------------------")
print(s1.name,s1.ID,s1.dept,s1.cg)
print(s2.name,s2.ID,s2.dept,s2.cg)
#As you can see, the changing the value of s1.name changed the value
#of both s1.name and s2.name because they both refer to the same object.

<__main__.Student object at 0x10629d5b0>
1-----------------------------------------------------
<__main__.Student object at 0x10629d5b0>
2-----------------------------------------------------
XYZ 12345 CSE 3.99
3-----------------------------------------------------
Sakib Al Hasan 9867 CSE 3.99
<__main__.Student object at 0x10629eba0>
4-----------------------------------------------------
XYZ 12345 CSE 3.99
5-----------------------------------------------------
Tamim Iqbal 45678 CSE 3.99
Sakib Al Hasan 9867 CSE 3.99
<__main__.Student object at 0x1057d5640>
6-----------------------------------------------------
XYZ 12345 CSE 3.99
7-----------------------------------------------------
Tamim Iqbal 45678 CSE 3.99
Tamim Iqbal 45678 CSE 3.99
8-----------------------------------------------------
9-----------------------------------------------------
Imrul Kayes 45678 CSE 3.99
Imrul Kayes 45678 CSE 3.99

### ***Random Task-1***
1. Parameterized constructor
2. Basic method
3. Creating a new object under the same referecne variable.
4. Setting instance variable values based on input.
5. Creating a list of student objects.

In [ ]:
class Student:
  def __init__(self,name,ID,cg):
    self.name = name
    self.ID = ID
    self.cg = cg
    self.dept = "CSE"

  def printDetails(self):
    print(self)
    print(f"Name:{self.name}")
    print(f"ID:{self.ID}")
    print(f"Department:{self.dept}")
    print(f"CGPA:{self.cg}")

#Driver Code
n = int(input("How many students:"))
stList = []#DHK,RAJ
for i in range(n):
  print("*"*32)
  name = input("Name of the Student: ")
  ID = int(input("Enter the ID of the Student: "))
  cg = float(input("Enter his/her CGPA: "))
  s = Student(name,ID,cg)
  stList.append(s)
print("---------------------------")
print(stList)
print("----------------------")
for i in range(len(stList)):#0,1
  stList[i].printDetails()

How many students:3
********************************
Name of the Student: ANINDYA KABBYA BISWAS
Enter the ID of the Student: 23201140
Enter his/her CGPA: 4
********************************
Name of the Student: UBARNA BHATTACHARJEE
Enter the ID of the Student: 23201141
Enter his/her CGPA: 4
********************************
Name of the Student: ANIK FOUZDER
Enter the ID of the Student: 23204410
Enter his/her CGPA: 3.98
---------------------------
[<__main__.Student object at 0x10629c860>, <__main__.Student object at 0x10629c3b0>, <__main__.Student object at 0x10629c710>]
----------------------
<__main__.Student object at 0x10629c860>
Name:ANINDYA KABBYA BISWAS
ID:23201140
Department:CSE
CGPA:4.0
<__main__.Student object at 0x10629c3b0>
Name:UBARNA BHATTACHARJEE
ID:23201141
Department:CSE
CGPA:4.0
<__main__.Student object at 0x10629c710>
Name:ANIK FOUZDER
ID:23204410
Department:CSE
CGPA:3.98

### ***Random Task-2 (Bank Account)***

In [1]:
import sys
from termcolor import colored, cprint

class BankAccount:
  def __init__(self,acc_no,acc_name,acc_bal):
    self.account_no = acc_no
    self.account_name = acc_name
    self.account_balance = acc_bal
  def showDetails(self):
    cprint("#"*40, 'blue', 'on_yellow')
    cprint(f"Account No      : {self.account_no}", 'black', 'on_yellow')
    cprint(f"Account Name    : {self.account_name}", 'black', 'on_yellow')
    cprint(f"Current Balance : Tk. {self.account_balance:.2f}", 'black', 'on_yellow')
    cprint("#"*40, 'blue', 'on_yellow')
  def deposit(self, amount):
    self.account_balance += amount
    cprint("/"*40, 'black', 'on_blue')
    cprint(f"Hello {self.account_name},", 'black', 'on_blue')
    cprint(f"Tk. {amount} has been deposited in your account.", 'black', 'on_green')
    cprint(f"Have a good day.", 'black', 'on_blue')
    cprint("/"*40, 'black', 'on_blue')
    self.showDetails()
  def withdraw(self, amount):
    cprint("/"*40, 'black', 'on_blue')
    if self.account_balance - amount < 500:
      cprint(f"Sorry {self.account_name},", 'black', 'on_red')
      cprint(f"Your balance is insufficient for requested withdrawal", 'black', 'on_red')
    else:
      self.account_balance -= amount
      cprint(f"Hello {self.account_name},", 'black', 'on_blue')
      cprint(f"Tk. {amount} has been withdrawed from your account.", 'black', 'on_red')
      cprint(f"Have a good day.", 'black', 'on_blue')
    cprint("/"*40, 'black', 'on_blue')
    self.showDetails()

a1 = BankAccount(20021104, 'Anindya Kabbya Biswas', 100000.899)
a2 = BankAccount(20030805, 'Ubarna Bhattacharjee', 2340897)
a3 = BankAccount(20021104, 'Anindita Biswas', 4545469)
a1.showDetails()
a2.showDetails()
a3.showDetails()
a1.deposit(1000)
a1.withdraw(1000)
a1.withdraw(100000000000)

########################################
Account No      : 20021104
Account Name    : Anindya Kabbya Biswas
Current Balance : Tk. 100000.90
########################################
########################################
Account No      : 20030805
Account Name    : Ubarna Bhattacharjee
Current Balance : Tk. 2340897.00
########################################
########################################
Account No      : 20021104
Account Name    : Anindita Biswas
Current Balance : Tk. 4545469.00
########################################
////////////////////////////////////////
Hello Anindya Kabbya Biswas,
Tk. 1000 has been deposited in your account.
Have a good day.
////////////////////////////////////////
########################################
Account No      : 20021104
Account Name    : Anindya Kabbya Biswas
Current Balance : Tk. 101000.90
########################################
////////////////////////////////////////
Hello Anindya Kabbya Biswas,
Tk. 1000 has been withdrawed from your account.
Have a good day.
////////////////////////////////////////
########################################
Account No      : 20021104
Account Name    : Anindya Kabbya Biswas
Current Balance : Tk. 100000.90
########################################
////////////////////////////////////////
Sorry Anindya Kabbya Biswas,
Your balance is insufficient for requested withdrawal
////////////////////////////////////////
########################################
Account No      : 20021104
Account Name    : Anindya Kabbya Biswas
Current Balance : Tk. 100000.90
########################################

# **Python - Class Attributes**

[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_class_attributes.htm)

# **Python - Class Methods**

[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_class_methods.htm)

In [ ]:
# Class Code
class Students:
    stu_count = 0
    def __init__(self, name, ID, dept, cg): #Constructor
        Students.stu_count += 1
        self.serial = Students.stu_count
        self.name = name
        self.ID = ID
        self.dept = dept
        self.cg = cg
    # Method - 1
    # instance method
    def showcount1(self):
         return(self.stu_count)
    # Method - 2
    # Transforming instance method to class method
    showcount2 = classmethod(showcount1)
    # Method - 3
    # Directly implementing class method
    @classmethod
    # From class method, instance variable can't be accessed
    # From class method, class variable can be accessed and value can be changed
    def showcount3 (cls):
        return (cls.stu_count)
    '''
    The class method acts as an alternate constructor.
    Define a newstudent() class method with arguments required to construct a new object.
    It returns the constructed object,
    something that the __init__() method does.
    '''
    # This is actually application of class method by making factory method
    @classmethod
    def new_student(cls, name, ID, dept, cg):
        return cls(name, ID, dept, cg)


# Driver Code
s1 = Students('Anindya Kabbya Biswas', 23201140, 'CSE', 3.99)
s2 = Students('Anik Fouzder', 23201141, 'CSE', 3.91)
s3 = Students.new_student('Ubarna Bhattacharjee', 23201145, 'Psychology', 4.00)

print('#'*32)
print(f"""Serial    : {s1.serial}
Name      : {s1.name}
ID        : {s1.ID}
Department: {s1.dept}
CGPA      : {s1.cg}""")
print('#'*32)
print('#'*32)
print(f"""Serial    : {s2.serial}
Name      : {s2.name}
ID        : {s2.ID}
Department: {s2.dept}
CGPA      : {s2.cg}""")
print('#'*32)
print('#'*32)
print(f"""Serial    : {s3.serial}
Name      : {s3.name}
ID        : {s3.ID}
Department: {s3.dept}
CGPA      : {s3.cg}""")
print('#'*32)
print(f'Number of Total Students registered using instance method: {s2.showcount1()}')
print(f'Number of Total Students registered using class method 1: {Students.showcount2()}')
print(f'Number of Total Students registered using class method 1: {Students.showcount3()}')

################################
Serial    : 1
Name      : Anindya Kabbya Biswas
ID        : 23201140
Department: CSE
CGPA      : 3.99
################################
################################
Serial    : 2
Name      : Anik Fouzder
ID        : 23201141
Department: CSE
CGPA      : 3.91
################################
################################
Serial    : 3
Name      : Ubarna Bhattacharjee
ID        : 23201145
Department: Psychology
CGPA      : 4.0
################################
Number of Total Students registered using instance method: 3
Number of Total Students registered using class method 1: 3
Number of Total Students registered using class method 1: 3

In [10]:
class Students:
    stu_count = 99
    def __init__(self, name, ID, dept, cg): #Constructor
        # Students.stu_count += 1
        # self.serial = Students.stu_count
        self.name = name
        self.ID = ID
        self.dept = dept
        self.cg = cg
        # self.stu_count=7
    # Method - 1
    # instance method
    def showcount1(self):
         return(self.stu_count)
    

k= Students("Kamal", 230,"CSE",2.29)
print(k.showcount1())

99

In [ ]:
class BracStudents:
  address = "Mohakhali"
  def __init__(self,name,ID):
    self.name = name
    self.ID = ID
  @classmethod
  def changeAddress(cls):
    print(cls)
    cls.address = "Merul Badda"
  def printDetails(self):
    print(f"Name:{self.name}\nID:{self.ID}")

s1 = BracStudents("Muntasir",43123123)
s2 = BracStudents("Zawad Ridwan",6786534)
s3 = BracStudents("Fahim Sadik",1231235)
BracStudents.changeAddress()
s1.changeAddress()
print(s1.address)
print(BracStudents.address)

<class '__main__.BracStudents'>
<class '__main__.BracStudents'>
Merul Badda
Merul Badda

In [ ]:
class BracStudents:
  address = "Mohakhali"
  def __init__(self,name,ID):
    self.name = name
    self.ID = ID
  @classmethod
  def changeAddress(cls, new):
    print(cls)
    cls.address = new
  def printDetails(self):
    print(f"Name:{self.name}\nID:{self.ID}")

s1 = BracStudents("Muntasir",43123123)
s2 = BracStudents("Zawad Ridwan",6786534)
s3 = BracStudents("Fahim Sadik",1231235)
BracStudents.changeAddress("Merul")
print(s1.address)
print(BracStudents.address)

s3.changeAddress('Merul Badda')
print(s1.address)
print(BracStudents.address)

<class '__main__.BracStudents'>
Merul
Merul
<class '__main__.BracStudents'>
Merul Badda
Merul Badda

In [ ]:
from datetime import date
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  # This is actually application of class method by making factory method
  @classmethod
  def createPersonfromDOB(cls,name, YOB):
    obj = cls(name,date.today().year- YOB)
    return obj

p1 = Person("Zawad", 20)
p2 = Person("Mustasir",21)
p3 = Person.createPersonfromDOB("Fahim", 2002)

print(p1.name,p1.age)
print(p2.name,p2.age)
print(p3.name,p3.age)

Zawad 20
Mustasir 21
Fahim 22

# **Python - Static Methods**

[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_static_methods.htm)

In [ ]:
class Employee:
   empCount = 0
   def __init__(self, name, age):
      self.__name = name
      self.__age = age
      Employee.empCount += 1

   # Method - 1 of implementing static method
   def showcount():
      print(Employee.empCount)
   showcount1 = staticmethod(showcount)
   # Method - 2 of implementing static method
   @staticmethod
   def showcount2():
      print(Employee.empCount)

e1 = Employee("Bhavana", 24)
e2 = Employee("Rajesh", 26)
e3 = Employee("John", 27)

e1.showcount1()
Employee.showcount1()

e2.showcount2()
Employee.showcount2()

3
3
3
3

# **Python - Constructors**

[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_constructors.htm)

In [ ]:
class Employee:
   def __init__(self, name="Bhavana", age=24):
      self.name = name
      self.age = age
   def displayEmployee(self):
      print (f"Name : {self.name}, Age : {self.age}")

e1 = Employee()
e2 = Employee("Bharat", 25)

e1.displayEmployee()
e2.displayEmployee()

#You can add, remove, or modify attributes of classes and objects at any time
e1.salary = 7000 # Add a 'salary' attribute.
e1.name = 'xyz' # Modify 'name' attribute.

print (f"Name : {e1.name}, Age : {e1.age}, Salary: {e1.salary}")

del e1.salary # Delete 'salary' attribute.'

"""
The getattr(obj, name[, default]) − to access the attribute of object.
The hasattr(obj,name) − to check if an attribute exists or not.
The setattr(obj,name,value) − to set an attribute. If attribute does not exist, then it would be created.
The delattr(obj, name) − to delete an attribute.
"""

print (hasattr(e1, 'salary')) # Returns true if 'salary' attribute exists
print (getattr(e1, 'name')) # Returns value of 'name' attribute
setattr(e1, 'salary', 8) # Set attribute 'salary' at 8
setattr(e1, 'name', 'Anindya')
delattr(e1, 'age')
print (f"Name : {e1.name}, Salary: {e1.salary}")

Name : Bhavana, Age : 24
Name : Bharat, Age : 25
Name : xyz, Age : 24, Salary: 7000
False
xyz
Name : Anindya, Salary: 8

# **Python - Access Modifiers**

[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_access_modifiers.htm)

In [11]:
class Employee:
  'Common base class for all employees'
  'All instance variables are public'
  def __init__(self, name="Bhavana", age=24):
    self.name = name
    self.age = age

e1 = Employee()
e2 = Employee("Bharat", 25)

print ("Name: {}".format(e1.name))
print ("age: {}".format(e1.age))
print ("Name: {}".format(e2.name))
print ("age: {}".format(e2.age))

Name: Bhavana
age: 24
Name: Bharat
age: 25

In [27]:
'''Let us modify the Employee class.
Add another instance variable salary.
Make age private and salary as protected by
prefixing double and single underscores respectively.'''


class Employee:
   def __init__(self, name, age, salary):
      self.name = name # public variable
      self.__age = age # private variable
      self._salary = salary # protected variable
      
   def displayEmployee(self):
      print ("Name : ", self.name, ", age: ", self.__age, ", salary: ", self._salary)

e1=Employee("Bhavana", 24, 10000)

'''It is printed because the instance var name is public'''
print (e1.name)
'''It is printed because e1 is a object and protected instance var
can be accesed by object'''
print (e1._salary)
'''It will not print because data of private variable can't be accesed'''
# print (e1.__age) # -> will surely give a error
print(dir(e1)) # Printing the directory of e1 to check which methods and var are accesible

#Name Mangling
'''Python doesn't block access to private data,
it just leaves for the wisdom of the programmer,
not to write any code that access it from outside the class.
You can still access the private members by Python's name mangling technique'''

print (e1._Employee__age)

Bhavana
999
['_Employee__age', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_salary', 'displayEmployee', 'name', 'salary']
24

In [ ]:
# Python Property Object
'''
Certainly! In Python, the property() function allows you to create
managed attributes (also known as properties) in your classes.
These properties provide a way to modify the internal implementation
of an attribute without changing the public API of the class
'''

class Employee:
  def __init__(self, name, age):
    self.__name = name
    self.__age = age
  def get_name(self):
    return self.__name
  def get_age(self):
    return self.__age
  def set_name(self, name):
    self.__name = name
    return
  def set_age(self, age):
    self.__age=age
  # adding property object
  name = property(get_name, set_name, "name")
  age = property(get_age, set_age, "age")
  hi = property()

#########################################################
# Traditional method

# e1=Employee("Bhavana", 24)
# print ("Name:", e1.get_name(), "age:",

# e1.get_age())
# e1.set_name("Archana")
# e1.set_age(21)
# print ("Name:", e1.get_name(), "age:", e1.get_age())
#########################################################

# Using property function
# Syntax: property(fget=None, fset=None, fdel=None, doc=None)

e1=Employee("Bhavana", 24)
print ("Name:", e1.name, "age:", e1.age) #displays value of e1.__name and e1.__age

e1.name = "Archana" #assign value of e1.__name
e1.age = 23  #assign value of e1.__age
print ("Name:", e1.name, "age:", e1.age)

Name: Bhavana age: 24
Name: Archana age: 23

In [ ]:
# Example 1 of 'Property Function'
class Circle:
    def __init__(self, radius):
        self._radius = radius

    @property
    def radius(self):
        return self._radius

    @radius.setter
    def radius(self, value):
        if value < 0:
            raise ValueError("Radius cannot be negative")
        self._radius = value

# Create an instance of Circle
circle = Circle(radius=5)

# Access the radius property
print(f"Radius: {circle.radius}")

# Set a new radius value
circle.radius = 2
print(f"New Radius: {circle.radius}")

Radius: 5
New Radius: 2

In [ ]:
# Example 2 of 'Property Function'
class Circle:
    def __init__(self, radius):
        self.__radius = radius

    @property
    def radius(self):
        return self.__radius

    @radius.setter
    def radius(self, value):
        if value < 0:
            raise ValueError("Radius cannot be negative")
        self.__radius = value

    @property
    def area(self):
        return 3.14 * self.__radius ** 2

    @property
    def circumference(self):
        return 2 * 3.14 * self.__radius
# Create an instance of Circle
circle = Circle(radius=5)
# Access the area and circumference properties
print(f"Area: {circle.area:.2f}")
print(f"Circumference: {circle.circumference:.2f}")

Area: 78.50
Circumference: 31.40

In [ ]:
# Example 2 of 'Property Function'
class Person:
    def __init__(self, age):
        self._age = age

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, value):
        if not isinstance(value, int) or value < 0:
            raise ValueError("Age must be a positive integer")
        self._age = value

# Create a person
person = Person(age=30)

# Set a new age value
person.age = 25
print(f"New Age: {person.age}")

New Age: 25

# Python - **Inheritance**
[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_inheritance.htm)

# **Python** - ***Composition (HAS A Relationship)***

[Study from here - GeeksforGeeks](https://www.geeksforgeeks.org/implementation-of-composition-has-a-relation-in-python/)

In [ ]:
# Python - Composition
# Example-1: TEACHER HAS COURSES

class Teacher:
  def __init__(self, name, dept, des):
    self.name = name
    self.dept = dept
    self.des = des
    self.cL = {}
  def addCourse(self, *courses):
    for x in courses:
      if x.c_code not in self.cL:
        self.cL[x.c_code] = x.c_name
  def showDetails(self):
    print("#"*40)
    print("Teacher name:", self.name)
    print("Designation:", self.des)
    print("Department name:", self.dept)
    print("Number of Courses:", len(self.cL))
    print('–'*40)
    print("List of the courses:")
    for x,y in self.cL.items():
      print(f"{x}: {y}")
    print("#"*40)

class Course:
  def __init__(self, code, name):
    self.c_code = code
    self.c_name = name

c1 = Course("CSE110", "Programming Language I")
c2 = Course("CSE111", "Programming Language II")
c3 = Course("CSE230", "Discreate Mathematics")
c4 = Course("MAT110", "Differentiation and Coordinate Geometry")
c5 = Course("MAT120", "Integral Calculus")

t1 = Teacher("Kazi Rakibul Islam", "CSE", "Professor")
t2 = Teacher("Anindya Kabbya Biswas", "MNS", "Lecturer")

t1.addCourse(c1)
t1.addCourse(c2, c3, c2)
t2.addCourse(c4, c5)

t1.showDetails()
t2.showDetails()

########################################
Teacher name: Kazi Rakibul Islam
Designation: Professor
Department name: CSE
Number of Courses: 3
––––––––––––––––––––––––––––––––––––––––
List of the courses:
CSE110: Programming Language I
CSE111: Programming Language II
CSE230: Discreate Mathematics
########################################
########################################
Teacher name: Anindya Kabbya Biswas
Designation: Lecturer
Department name: MNS
Number of Courses: 2
––––––––––––––––––––––––––––––––––––––––
List of the courses:
MAT110: Differentiation and Coordinate Geometry
MAT120: Integral Calculus
########################################

In [ ]:
# Python - Composition
# Example-2: TEACHER HAS COURSES (MODIFIED)

class Teacher:
  def __init__(self, name, dept, des):
    self.name = name
    self.dept = dept
    self.des = des
    self.cL = []
  def addCourse(self, *courses):
    self.cL += courses
  def showDetails(self):
    print("#"*40)
    print("Teacher name:", self.name)
    print("Designation:", self.des)
    print("Department name:", self.dept)
    print("Number of Courses:", len(self.cL))
    print('–'*40)
    print("List of the courses:")
    for x in self.cL:
      print(f"{x.c_code}: {x.c_name}")
    print("#"*40)

class Course:
  def __init__(self, code, name):
    self.c_code = code
    self.c_name = name

c1 = Course("CSE110", "Programming Language I")
c2 = Course("CSE111", "Programming Language II")
c3 = Course("CSE230", "Discreate Mathematics")
c4 = Course("MAT110", "Differentiation and Coordinate Geometry")
c5 = Course("MAT120", "Integral Calculus")

t1 = Teacher("Kazi Rakibul Islam", "CSE", "Professor")
t2 = Teacher("Anindya Kabbya Biswas", "MNS", "Lecturer")

t1.addCourse(c1)
t1.addCourse(c2, c3, c2)
t2.addCourse(c4, c5)

t1.showDetails()
t2.showDetails()

########################################
Teacher name: Kazi Rakibul Islam
Designation: Professor
Department name: CSE
Number of Courses: 4
––––––––––––––––––––––––––––––––––––––––
List of the courses:
CSE110: Programming Language I
CSE111: Programming Language II
CSE230: Discreate Mathematics
CSE111: Programming Language II
########################################
########################################
Teacher name: Anindya Kabbya Biswas
Designation: Lecturer
Department name: MNS
Number of Courses: 2
––––––––––––––––––––––––––––––––––––––––
List of the courses:
MAT110: Differentiation and Coordinate Geometry
MAT120: Integral Calculus
########################################

In [ ]:
# Python - Composition
# Example-2: LIBRARY HAS BOOKS

class Library:
  def __init__(self, name):
    self.L_name = name
    self.bL = {}
    self.bCount = 0
  def addBooks(self, *books):
    for x in books:
      if x.genre not in self.bL:
        self.bL[x.genre] = []
      if x.name not in self.bL[x.genre]:
        self.bCount += 1
        self.bL[x.genre].append(x.name)

  def showDetails(self):
    print("#"*40)
    print("Welcome to", self.L_name)
    print("Number of Books:", self.bCount)
    print('–'*40)
    print('–'*40)
    print("List of the books:")
    print('–'*len("List of the books:"))
    for x,y in self.bL.items():
      print(f'{x}:', ', '.join(y))
      print()
    print("#"*40)

class Book:
  def __init__(self,name,genre):
    self.name = name
    self.genre = genre

l = Library("Ayesha Abed Library") #DHK
b1 = Book("Harry Potter","Fantasy") #RAJ
b2 = Book("Game of Thrones","Fantasy") #COM
b3 = Book("Martyr on the ocean express","Thriller") #NOA
b4 = Book("Stephen King","Fiction") #CTG
b5 = Book("Gone Girl","Thriller") #RNG
b6 = Book("American Gods","Fantasy") #BAR
l.addBooks(b1,b2,b3)#RAJ,COM,NOA
l.addBooks(b4,b5)#CTG,RNG
l.addBooks(b6, b5, b1)
l.showDetails()

########################################
Welcome to Ayesha Abed Library
Number of Books: 6
––––––––––––––––––––––––––––––––––––––––
––––––––––––––––––––––––––––––––––––––––
List of the books:
––––––––––––––––––
Fantasy: Harry Potter, Game of Thrones, American Gods

Thriller: Martyr on the ocean express, Gone Girl

Fiction: Stephen King

########################################

In [ ]:
# Python - Composition
# Example-3: Accounts of a Bank

import sys
from termcolor import colored, cprint

class BankAccount:
  def __init__(self,acc_no,acc_name,acc_bal):
    self.account_no = acc_no
    self.account_name = acc_name
    self.account_balance = acc_bal
    self.bank_name = None
  def showDetails(self):
    cprint("#"*40, 'blue', 'on_yellow')
    if self.bank_name != None:
      cprint(f"Bank Name       : {self.bank_name}", 'white', 'on_blue')
    cprint(f"Account No      : {self.account_no}", 'black', 'on_yellow')
    cprint(f"Account Name    : {self.account_name}", 'black', 'on_yellow')
    cprint(f"Current Balance : Tk. {self.account_balance:.2f}", 'black', 'on_yellow')
    cprint("#"*40, 'blue', 'on_yellow')
  def deposit(self, amount):
    self.account_balance += amount
    cprint("/"*40, 'black', 'on_blue')
    cprint(f"Hello {self.account_name},", 'black', 'on_blue')
    cprint(f"Tk. {amount} has been deposited in your account.", 'black', 'on_green')
    cprint(f"Have a good day.", 'black', 'on_blue')
    cprint("/"*40, 'black', 'on_blue')
    self.showDetails()
  def withdraw(self, amount):
    cprint("/"*40, 'black', 'on_blue')
    if self.account_balance - amount < 500:
      cprint(f"Sorry {self.account_name},", 'black', 'on_red')
      cprint(f"Your balance is insufficient for requested withdrawal", 'black', 'on_red')
    else:
      self.account_balance -= amount
      cprint(f"Hello {self.account_name},", 'black', 'on_blue')
      cprint(f"Tk. {amount} has been withdrawed from your account.", 'black', 'on_red')
      cprint(f"Have a good day.", 'black', 'on_blue')
    cprint("/"*40, 'black', 'on_blue')
    self.showDetails()

class Bank:
  def __init__(self, name, branch):
    self.name = name
    self.branch = branch
    self.acc_list = {}
    self.no_of_acc = 0
  def addAccount(self, *args):
    self.no_of_acc += len(args)
    for each in args:
      each.bank_name = self.name
      self.acc_list[each.account_no] = [each.account_name, each]
  def showDetails_bank(self):
    cprint("#"*40, 'black', 'on_white')
    cprint(f"Welcome to {self.name}", 'black', 'on_blue')
    cprint(f"Branch name: {self.branch}", 'black', 'on_yellow')
    cprint(f"Number of Accounts: {self.no_of_acc}", 'black', 'on_green')
    cprint(f"List of accounts:", 'black', 'on_yellow')
    for i,j in self.acc_list.items():
      cprint(f"{i} –– {j[0]}", 'black', 'on_blue')
    cprint("#"*40, 'black', 'on_white')
  def showDetails_ID(self, id):
    cprint("#"*40, 'black', 'on_white')
    cprint(f"Welcome to {self.name}", 'black', 'on_blue')
    cprint(f"Branch name: {self.branch}", 'black', 'on_yellow')
    cprint("/"*40, 'black', 'on_white')
    cprint(f"Account No      : {id}", 'black', 'on_yellow')
    cprint(f"Account Name    : {self.acc_list[id][0]}", 'black', 'on_yellow')
    cprint(f"Current Balance : Tk. {self.acc_list[id][1].account_balance:.2f}", 'black', 'on_yellow')
    cprint("/"*40, 'black', 'on_white')
    cprint("#"*40, 'black', 'on_white')


a1 = BankAccount(20021104, 'Anindya Kabbya Biswas', 100000.899)
a2 = BankAccount(20030805, 'Ubarna Bhattacharjee', 2340897)
a3 = BankAccount(20021140, 'Anindita Biswas', 4545469)
a1.showDetails()
a2.showDetails()
a3.showDetails()
a1.deposit(1000)
a1.withdraw(1000)
a1.withdraw(100000000000)

b1 = Bank("Rupali Bank PLC", "Dilkusha")
b1.addAccount(a1,a2,a3)
b1.showDetails_bank()
b1.showDetails_ID(20021140)

########################################
Account No      : 20021104
Account Name    : Anindya Kabbya Biswas
Current Balance : Tk. 100000.90
########################################
########################################
Account No      : 20030805
Account Name    : Ubarna Bhattacharjee
Current Balance : Tk. 2340897.00
########################################
########################################
Account No      : 20021140
Account Name    : Anindita Biswas
Current Balance : Tk. 4545469.00
########################################
////////////////////////////////////////
Hello Anindya Kabbya Biswas,
Tk. 1000 has been deposited in your account.
Have a good day.
////////////////////////////////////////
########################################
Account No      : 20021104
Account Name    : Anindya Kabbya Biswas
Current Balance : Tk. 101000.90
########################################
////////////////////////////////////////
Hello Anindya Kabbya Biswas,
Tk. 1000 has been withdrawed from your account.
Have a good day.
////////////////////////////////////////
########################################
Account No      : 20021104
Account Name    : Anindya Kabbya Biswas
Current Balance : Tk. 100000.90
########################################
////////////////////////////////////////
Sorry Anindya Kabbya Biswas,
Your balance is insufficient for requested withdrawal
////////////////////////////////////////
########################################
Account No      : 20021104
Account Name    : Anindya Kabbya Biswas
Current Balance : Tk. 100000.90
########################################
########################################
Welcome to Rupali Bank PLC
Branch name: Dilkusha
Number of Accounts: 3
List of accounts:
20021104 –– Anindya Kabbya Biswas
20030805 –– Ubarna Bhattacharjee
20021140 –– Anindita Biswas
########################################
########################################
Welcome to Rupali Bank PLC
Branch name: Dilkusha
////////////////////////////////////////
Account No      : 20021140
Account Name    : Anindita Biswas
Current Balance : Tk. 4545469.00
////////////////////////////////////////
########################################

# **Python** - ***Encaptulation***

[Study from here - TutorialsPoint](https://www.tutorialspoint.com/python/python_encapsulation.htm)

In [ ]:
# Python - Encaptulation
# Example with error
class Student:

   def __init__(self, name="Rajaram", marks=50):
      self.__name = name
      self.__marks = marks
   def studentdata(self):
      print ("Name: {} marks: {}".format(self.__name, self.__marks))

s1 = Student()
s2 = Student("Bharat", 25)

s1.studentdata()
s2.studentdata()
print ("Name: {} marks: {}".format(s1.__name, s2.__marks))
print ("Name: {} marks: {}".format(s2.__name, __s2.marks))

Name: Rajaram marks: 50
Name: Bharat marks: 25

AttributeError: 'Student' object has no attribute '__name'

The error occurs because the __name and __marks attributes are private and cannot be accessed directly from outside the class. To fix this, you need to add getter methods to the class to access these attributes.